body {
    height: 100vh;
    display: flex;
    justify-content: center;
    /* horizontal center */
    align-items: center;
    /* vertical center */
    background: lightblue;
}

.login-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
}
